*, *::before, *::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background: #005AA0 url("./images/bg.png") repeat;
}

a {
  text-decoration: none;
  color: #f5f5f5;
}

a:active, a:hover, a:focus {
  color: #f5f5f5;
}

h1 {
  font-size: 2.2em;
  font-weight: normal;
}

select {
  padding: 6px 5px;
  border-radius: 5px;
  background: #f5f5f5;
}

.pointer {
  cursor: pointer;
}

.vertical_text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.select_click .box {
  display: inline-block;
  position: relative;
}

.select_click select {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* main */
#wrap {
  text-align: center;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 100%;
  max-width: 800px;
  max-height: 100vh;
  overflow-x: auto;
}

.container {
  color: #f5f5f5;
  padding: 40px 0;
}

.title {
  padding: .4em 0;
  background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, .2), transparent);
}

#select {
  margin: 20px 0 0;
  display: table;
  width: 100%;
}

#time {
  display: inline-block;
  position: relative;
}

#time .clock {
  font-size: 3.6em;
}

#time .zone {
  font-size: 1.3em;
  position: absolute;
  top: -10px;
  right: .2em;
}

.location {
  font-size: 1.6em;
  margin-left: 50px;
  display: inline-block;
  vertical-align: super;
}

.location .name {
  padding: 1px 8px 3px;
  border-radius: 5px;
  border: 1px solid #f5f5f5;
  padding-right: 25px;
  background-image: linear-gradient(45deg, transparent 50%, #f5f5f5 50%), linear-gradient(135deg, #f5f5f5 50%, transparent 50%);
  background-position: calc(100% - 13px) calc(.6em), calc(100% - 8px) calc(.6em);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
}

.pray {
  font-size: 1.5em;
  margin-bottom: .5em;
  list-style: none;
  overflow: hidden;
}

.pray li {
  width: 20%;
  float: left;
  padding: 1em 0 .5em;
}

.pray .current {
  animation: current-prayer 1s ease infinite alternate;
}

.pray .next {
  background-image: linear-gradient(to bottom, transparent, rgba(255, 255, 255, .2), transparent);
}

.pray .next .remain {
  font-size: .6em;
  letter-spacing: .1em;
  display: inline-block;
  padding-top: .35em;
  border: 0 dotted #f5f5f5;
  border-top-width: 1px;
}

.date {
  font-size: 1.3em;
  background-image: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, .3) 10%, rgba(0, 0, 0, .3) 90%, transparent 100%);
  clear: both;
  padding: .7em 1em;
  line-height: 1.5em;
}

.date .hijri::before {
  content: '';
  margin-left: 6px;
  padding-left: 12px;
  border: 0 dotted rgba(255, 255, 255, .5);
  border-left-width: 1px;
}

.js #time, .js .location, .js .pray .time, .js .pray .remain, .js .date {
  transition: opacity .3s;
  opacity: 0;
}

.no_items {
  display: none;
}

@media all and (max-width: 500px) {
  body {
    font-size: 14px;
  }

  .container {
    padding: 0;
  }

  .title {
    padding: .8em 0;
    background: rgba(255, 255, 255, .2);
    font-weight: 500;
    overflow: hidden;
  }

  .title::before, .title::after {
    content: '';
    background-color: rgba(255, 255, 255, .5);
    display: inline-block;
    height: 2px;
    width: 50%;
    position: relative;
    vertical-align: middle;
  }

  .title::before {
    right: .8em;
    margin-left: -50%;
  }

  .title::after {
    left: .8em;
    margin-right: -50%;
  }

  #select {
    margin: 0;
  }

  #time, .location {
    display: inherit;
    margin: 20px auto 0;
  }

  #time .zone {
    top: -12px;
  }

  .pray {
    margin: 1em 0 1.5em;
  }

  .pray li {
    float: none;
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
    padding: .4em 0;
  }

  .pray li:not(:last-child) {
    border-bottom: 1px dotted rgba(255, 255, 255, .3);
  }

  .pray .next {
    margin-top: 0;
    padding: .5em 0;
    width: 100%;
    background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, .2), transparent);
    border: 0 !important;
  }

  .pray .next + li {
    margin-top: 0;
    border-top: 1px dotted rgba(255, 255, 255, .3);
  }

  .pray .name, .pray .time {
    display: inline-block;
    width: 50%;
  }

  .pray .name {
    text-align: right;
    padding-right: .5em;
  }

  .pray .time {
    text-align: left;
    padding-left: .5em;
  }

  .pray .next .remain {
    font-size: .8em;
    margin-top: .3em;
    padding-top: .3em;
  }

  .date {
    padding: 1em 1em 1.5em;
    background: rgba(0, 0, 0, .3);
  }

  .date .hijri {
    display: block;
  }

  .date .hijri::before {
    display: block;
    max-width: 50vw;
    margin: 5px auto 0;
    padding: 5px 0 0;
    border-width: 0;
    border-top-width: 1px;
  }
}

@keyframes current-prayer {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
